html, body{
height: 100%;
}


body{
min-height: 100%;
}

.inset{
  padding: 25px;
}

.inset_right{
  padding-right: 25px;
}


#topo h1{text-indent: -99999em;margin: 0; padding: 0}
#topo h1 a{padding-left: 20px; margin: 0;display: block;background: url(../imgs/logo-horizontal-slogan.png) no-repeat center center transparent;width: 390px; height:173px;
  height: 190px;}
#topo {height: 190px; color: #fff; background-image: url(../imgs/bg-topo.png)}


#main_menu{margin: 0; padding: 0}
#main_menu li, li{margin: 0; list-style: none;}
#main_menu li a{color: #4365A9; text-decoration: none;display: block; text-align: center; padding: 0.2em 0; margin-right: 1em; font-size: 1em }
#main_menu li.active a{border-bottom: 3px solid #4365A9;}
/*#main_menu li.active a{border-bottom: 3px solid #FFF;}*/
#main_menu li a{font-size: 1.2em;}/*li a:hover*/
#main_menu {margin: 0; padding: 0;}

.page{
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.5);
  min-width: 420px;
  /*padding: .5em;*/
}

.content{
  padding: 2em 1.5em 1em 1.5em;
}

.seguradoras {
  display: block;
  /*border: 1px solid #000;*/
  max-width: 900px;
  min-height: 400px;
  margin: 0 auto;
}

.seguradoras li{
border: 1px solid #ccc;
/*float: left;*/
height: 350px;
margin: 15px auto;
overflow: hidden;
padding: 5px;
position: relative;
/*width: 262px;*/
width: 262px;
text-align: center;
display: inline-block;
}

.seguradoras li img{
  margin: 2em auto 0 auto;
  display: block;
}

.seguradoras li h2,
.seguradoras li h3{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5em;
  width: 100%
}

#home ul.seguradoras{
   display: block;
}

#home ul.seguradoras li{
  float: left;
  margin: 5px;
  /*border: none;*/
}

#home .seguradoras li h2{
  font-size: 1.3em;
  width: inherit;
}

#home .seguradoras li h3{
  position: relative;
  font-size: 1.1em;
  width: inherit;
}

.seguradoras li h2{
  font-size: 1.6em;
  position: relative;
}

input, textarea{
  width: 100%;
}

textarea{
  min-height: 125px;
}

header{ position: relative; display: block;}
header nav{
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #AAA
}

footer{
background-color: #000;
/*bottom:0;*/
color: #fff;
min-height:90px;
padding-top: 20px;
/*position: absolute;*/
width: 100%;
}

footer div{
  text-align: center;
  width: 100%;
}

.developedby{
  text-align: right;
  color: #fff;
  font-size: 0.8em;
}

#form_warning{
  margin-bottom: 5px
}

p.success{
  color: #00AA00;
}
p.error{
 color: #AA0000;
}
input.error{
 background-color: #FFFC7F;
}

@media (min-width: 750px) {
#main_menu li{
  max-width: 150px; display: inline-block;
}
.page{min-height: 920px;}
}
